{{#each conversation}}
    <div class="individual-convo">
        <li class="convo-sender-image">
            <a href="/profile/{{this.profileID}}">
                <object data="{{this.profileImage}}">
                    <img src="/media/default-img.png" alt="Default Profile" />
                </object>
            </a>
        </li>
        <li class="convo-sender-info">
            <a href="/message/{{this.convoID}}">
                <h4><span id="name">{{this.firstName}} {{this.lastName}}</span><br>
                <span id="subject">{{this.subject}}</span></h4>
                <p class="convo-date">{{this.convoDate}}</p>
            </a>    
        </li> 
    </div>
{{/each}}