{{#each message}}
    <div class="individual-message">
        <h3><span>{{this.messageDate}}</span></h3>
        <li class="message-author-image">
            <a href="/profile/{{this.profileID}}">
                <object data="{{this.profileImage}}">
                    <img src="/media/default-img.png" alt="Default Profile" />
                </object>
            </a>
        </li>
        <li class="message-author-info">
            <p><span id="name">{{this.firstName}} {{this.lastName}}</span> • 9:03 AM<br><br>
            <span id="content">{{this.content}}</span></p>
        </li>
    </div>
{{/each}}