<section class="container">
    <div class="discussion">
        <a href="/profile/{{this.profileID}}">
            <object data="{{this.profileImage}}">
                <img src="/media/default-img.png" alt="Default Profile" />
            </object>
        </a>
        <div class="discussion-content">
            <h4>{{this.title}}</h4>
            <a href="/profile/{{this.profileID}}" id="topic">{{this.category}}</a>
            <p>{{this.content}}</p>
            <p id="date">{{this.postDate}}</p>
            <button onclick="toggleReplies({{this.numReplies}})" id="num-replies">{{this.numReplies}} replies</button>
        </div>
        <div id="comments-section-{{this.postID}}">
        </div>
    </div>
</section>